@model IEnumerable<WebApplication6.Book>

@{
    ViewBag.Title = "DisplayBooks";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="display">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Type</th>
            <th>Genre</th>
            <th>IsBorrowed</th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookID</td>
                <td>@book.BookName</td>
                <td>@book.BookAuthor</td>
                <td>@book.BookType</td>
                <td>@book.BookGenre</td>
                <td>@book.IsBorrowed</td>
            </tr>
        }
    </table>
</div>

