@model WebApplication6.Reader

@{
    ViewBag.Title = "SearchReaderResult";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post" action="/Admin/SearchReader">
    <table>
        <tr>
            <td>Name of the reader:</td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Search" /></td>
        </tr>
    </table>

    <div class="display">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
            <tr>

                <td>@Model.ReaderID</td>
                <td>@Model.ReaderName</td>
                <td>@Model.ReaderPhone</td>
                <td>@Model.ReaderEmail</td>
                <td>@Model.ReaderAddress</td>
            </tr>

        </table>
    </div>
</form>



