@model WebApplication6.Models.Readers.SearchedBooks

@{
    ViewBag.Title = "SearchBookResult";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Reader/css")
    @Styles.Render("~/Content/Tables/css")
</head>
<body>
    <header>
        <a href="/Home"><input type="submit" value="Back to login" /></a>
        <nav>
            <ul>
                <li><a href="/Reader/ChangePass?id=@Model.id">Change Password</a></li>
                <li><a href="/Reader/SearchBook?id=@Model.id">Search Book</a></li>
                <li><a href="/Reader/DisplayBooks?id=@Model.id">Display Books</a></li>
                <li><a href="/Reader/BorrowBook?id=@Model.id">Borrow Book</a></li>
                <li><a href="/Reader/ReturnBook?id=@Model.id">Return Book</a></li>
                <li><a href="/Reader/BorrowedBooks?id=@Model.id">Borrowed Books</a></li>
                <li><a href="/Reader/Top5?id=@Model.id">Top 5</a></li>
                <li><a href="/Reader/HistoryOfTheReader?id=@Model.id">History of the reader</a></li>
            </ul>
        </nav>
    </header>

    <form method="post" action="/Reader/SearchBook?id=@Model.id">
        <table>
            <tr>
                <td>Name of the book:</td>
                <td><input type="text" name="name"  /></td>
            </tr>
            <tr>
                <td>Name of the author:</td>
                <td><input type="text" name="author"  /></td>
            </tr>
            <tr>
                <td>Type of the book:</td>
                <td><input type="text" name="type"  /></td>
            </tr>
            <tr>
                <td>Genre of the book:</td>
                <td><input type="text" name="genre"  /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Search book" /></td>
            </tr>
        </table>
    </form>
    <div class="display">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Type</th>
                <th>Genre</th>
            </tr>
            @foreach (var book in Model.SearchedBook)
            {
                <tr>
                    <td>@book.BookID</td>
                    <td>@book.BookName</td>
                    <td>@book.BookAuthor</td>
                    <td>@book.BookType</td>
                    <td>@book.BookGenre</td>
                </tr>
            }
        </table>
    </div>



</body>
</html>
